@media only screen and (min-width:500px) {
    .nav_left>div>i {
        display: none;
    }

    .nav_left>i {
        display: none;
    }

    .home-icon {
        display: none;
    }

    .root-menu {
        display: none;
    }
}


@media only screen and (max-width: 480px) {
    .nav {
        padding: 0 5px;
    }

    .nav_right>img {
        width: 30px;
    }

    .nav_right>h1 {
        font-size: 17px;
    }

    .anchorTag>div>a:nth-child(1) {
        display: none;
    }

    .nav_left i {
        margin: 0 5px;
    }

    .nav-btn2 {
        display: none;
    }

    .nav-btn1 {
        padding: 8px 15px;
        font-size: 15px;
        margin-right: 10px;
    }

    .hometag {
        display: none;
    }

    #subjects {
        padding: 0 27px 0 7px;
    }
    #home{
        flex-direction: column-reverse;
        height:auto;
    }
    #home_right {
        margin:0;
        padding: 0 6px;
        width: 100vw;
        justify-content: end;
    }

    #home_left {
        margin: 30px 0 10px 0;
        overflow: auto;
    }

    #home_left>img {
        width: 100vw;
        height: 50vh;
    }

    #home_right h1:nth-child(2) {
        font-size: 5vw;
    }

    #home_right h1:nth-child(1) {
        font-size: 7vw;

    }

    p {
        padding: 0 10px 0 0;
    }

    .home-btn {
        padding: 8px 15px;
        font-size: 15px;
        margin-right: 10px;
    }

}


/* Responsive code for tutorial */
@media only screen and (max-width:480px) {
    .root-menu {
        display: block;
        position: fixed;
        left: 50%;
        top: 13%;
        transform: translate(-50%, -50%);
        z-index: 200;
        user-select: none;
    }

    .menu {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: moving-menu 1s infinite alternate;
    }

    @keyframes moving-menu {
        0% {
            transform: translateY(-10%);
        }

        100% {
            transform: translateY(10%);
        }
    }

    .menu>i {
        font-size: 32px;
    }

    .sideContainer {
        display: none;
        top: 64px;
        width: 100vw;
        background-color: rgb(199, 241, 241);
        z-index: 100;
    }

    .mainContentContainer {
        width: 100vw;
        z-index: 10;
        padding:10px 0px 20px 10px;   
        padding-right:11px;
    }
    .nav{
        padding:0px 5px;
    }
    .mainContentContainer p{
        margin:7px 10px 7px 10px;
        font-size: 18px;
    }
    .mainContentContainer h1{
        font-size: 29px;
    }
    .tableDiv{
        margin-right: 10px;
    }
    td{
        width: 30vw;
        font-size: 13px;
        padding:10px;
    }
    .bn13 {
        font-size: 12px;
      }

}

@media only screen and (min-width:900px) {
    .sideContainer {
        width: 22vw;
    }
    .mainContentContainer {
        width: 76.5vw;
    }
    .nav{
        padding:0 30px;
    }
    .mainContentContainer p{
        margin:7px 15px 7px 10px;
        font-size: 18px;
    }
    .mainContentContainer h1{
        font-size: 29px;
        margin:10px 0;
    }
    td{
        width: 300px;
        padding:10px;
    }
}