
.code-container {
    background-color: #f1f1f1; /* Light gray code container */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.comment {
    color: #008000; /* Green comment color */
}

.keyword {
    color: #0000ff; /* Blue keyword color */
}

.class {
    color: #008080; /* Teal class color */
}

.method {
    color: #0000ff; /* Blue method color */
}

.string {
    color: #a52a2a; /* Brown string color */
}

.braces {
    color: #2e2e2e; /* Dark text color for braces */
}

/* CSS for code end here */


table{
    margin-top: 10px;
}

.tableDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto !important;
}

.ulTag{
    margin-left: 20px;
}